body {
  font-family: "Roboto", Arial, sans-serif;
  /* background-image: url('../img/reuniones.png'); ../estilos/estiloMenuGeneral.css */
  background-image: url("background.jpg"); /*../estilos/estiloMenuGeneral.css*/
  background-image: url("../estilos/background.jpg"); /*../estilos/estiloMenuGeneral.css */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

/* Fondo específico para la clase fiananciero */
body.financiero {
  background: url("background financiero.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Abel", sans-serif;
}

/* Fondo específico para la clase apetito riesgo */
body.aperie {
  background: url("background aperie.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Fondo específico para la clase mercado */
body.mercado {
  background: url("background mercado.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Fondo específico para la clase procesos */
body.procesos {
  background: url("background procesos.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Fondo específico para la clase clidad */
body.calidad {
  background: url("background calidad.jpg") no-repeat center center fixed;
  background-size: cover;
}

h3 {
  margin-top: 0;
}

.survey-container {
  max-width: 850px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.containerTitulo {
  display: flex; /* Flexbox para la disposición de los elementos */
  justify-content: space-between; /* Distribuye el espacio*/
  align-items: center; /* Centra verticalmente*/
  padding: 10px; /* Espacio alrededor del contenido*/
}

.left-icon {
  display: flex; /* Alineación por si hay más elementos en el futuro */
  align-items: center;
}

.right-icons {
  display: flex; /* Flexbox para alinear los iconos a la derecha */
  align-items: center;
  gap: 15px; /* Espacio entre los iconos */
}

h1,
h2,
h3 {
  text-align: center;
  color: #333333;
}

h5 {
  color: #686767;
}

.form-group {
  margin-bottom: 15px;
}

.salida {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salida p {
  font-size: 12px;
  margin: 0; /* Remove default margin */
}

.salida button {
  margin-left: auto; /* Push button to the right */
}

#tablaIndice {
  text-decoration: none;
  padding: 2px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px; /* Tamaño del texto */
  color: #333; /* Color del texto */
  margin: auto; /* Centra horizontalmente */
}

#tablaIndice th {
  background-color: #f0f0f0; /* Color de fondo */
  border: 1px solid #ccc; /* Borde */
  padding: 8px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  font-family: "Roboto", sans-serif;
}

.botonSiguiente {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #007bff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.botonSiguiente:hover {
  background-color: #0056b3;
}

.centrado-flex {
  margin: 5px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  /*align-items: center; Centra verticalmente*/
  /*height: 100vh; /* Altura completa de la ventana del navegador */
}

/* ajusta los valores de totales de Menu-A*/
.ajustado-derecha {
  text-align: right;
}

/* -------------  ALERTA MAS LINDO ----*/
.alerta-oculto {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.alerta-contenido {
  position: relative;
  width: 300px;
  margin: 5% auto;
  padding: 10px;
  background: white;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.alerta-cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
}

.alerta-cuerpo {
  margin: 0;
  font-size: 16px; /* Tamaño de la fuente */
  text-align: center;
}

.alerta-contenido-ResGral {
  position: relative;
  width: 900px;
  /* marginxxx: 1% auto;
  paddingxxx: 2px; */
  background: rgba(180, 179, 179, 0.243);
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
}

.alerta-cabecera-ResGral {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.alerta-cuerpo-ResGral {
  margin: 0;
  font-size: 15px; /* Tamaño de la fuente */
  text-align: center;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  line-height: 0.7;
}

.chart-containerxxx {
  /*position: relative;*/
  height: 700px;
  width: 900px;
}
#continuar {
  background-color: #4caf50; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 12px 24px; /* Espaciado alrededor del texto */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor en forma de mano al pasar el mouse */
  transition: all 0.3s; /* Transición suave para los cambios */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  margin-top: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------  VELOCIMETRO  ----*/
.gauge-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Centrar horizontalmente */
}

/* --------------- GRAFICOS RESUMEN -------------------*/

.flex-graficos-resumen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* --------------- ICONOS AVANCE  RETROCESO ----------*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icons {
  display: flex;
  gap: 10px; /* Espacio entre las imágenes */
}

.nav-icons img {
  width: 40px; /* Ajusta el tamaño de las imágenes según necesites */
  height: auto;
}

.nav-iconstxt a {
  text-decoration: none;
}

/* --------------   PREGUNTAS EN TABLAS
  /* Estilos para la tabla */
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}
th {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* Eliminar el borde en el último elemento para evitar doble línea */
tr:last-child td {
  border-bottom: none;
}

/* Clases para controlar el ancho de las columnas */
.pregunta-col {
  /*width: 30%; /* Ancho inicial de la columna de preguntas */
  max-width: 200px;
  /* Ancho máximo de la columna de preguntas */
}

.pregunta-col-2 {
  /*width: 30%; /* Ancho inicial de la columna de preguntas */
  max-width: 150px;
  /* Ancho máximo de la columna de preguntas */
  margin-left: 50px;
}

.respuesta-col {
  width: 12%;
  /* Ancho inicial para las columnas de respuesta */
  max-width: 40px;
  /* Ancho máximo para las columnas de respuesta */
  font-size: 13px;
}

.respuesta-financiera {
  width: 12%;
  /* Ancho inicial para las columnas de respuesta */
  max-width: 30px;
  /* Ancho máximo para las columnas de respuesta */
  font-size: 13px;
}
/* Estilos para contenedores de radios */
.radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para etiquetas debajo de los radios */
.radio-label {
  margin-top: 4px;
}

/* -----------BOTON ENVIAR ------------------------*/

#boton-enviar {
  background-color: #4caf50; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 12px 24px; /* Espaciado alrededor del texto */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor en forma de mano al pasar el mouse */
  transition: all 0.3s; /* Transición suave para los cambios */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
}

#boton-enviar:hover {
  background-color: #45a049; /* Color de fondo al pasar el mouse */
}

#boton-enviar:focus {
  outline: none; /* Elimina el contorno al enfocar */
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.6); /* Sombra de foco */
}

/* -----------BOTON BORRAR ------------------------*/

#boton-borrar {
  background-color: #fe0314; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 12px 24px; /* Espaciado alrededor del texto */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor en forma de mano al pasar el mouse */
  transition: all 0.3s; /* Transición suave para los cambios */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
}

#boton-borrar:hover {
  background-color: #b6041c; /* Color de fondo al pasar el mouse */
}

#boton-borrar:focus {
  outline: none; /* Elimina el contorno al enfocar */
  box-shadow: 0 0 8px rgba(247, 6, 14, 0.6); /* Sombra de foco */
}

.center-container {
  display: flex;
  justify-content: center;
}

/* -----------BOTON SALIR ------------------------*/

#boton-salir {
  background-color: #f558b9; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 5px 30px 5px; /* Espaciado alrededor del texto */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor en forma de mano al pasar el mouse */
  transition: all 0.3s; /* Transición suave para los cambios */
  font-size: 14px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  margin-bottom: 10px;
}

#boton-salir:hover {
  background-color: #8d8886; /* Color de fondo al pasar el mouse */
}

#boton-salir:focus {
  outline: none; /* Elimina el contorno al enfocar */
  box-shadow: 0 0 8px rgba(248, 109, 17, 0.6); /* Sombra de foco */
}

#overlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
  z-index: 9999; /* Ensure it is on top of other elements */
}

#ventanaSalida {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.confirm-modal {
  /* #ventanaSalida { */
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.confirm-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.confirm-box button {
  margin: 5px;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.tituloSeccion {
  display: inline-block;
  padding: 10px 50px 10px 50px; /* Espacio interior del rectángulo */
  border: 2px solid rgba(0, 0, 0, 0.5); /* Borde del rectángulo */
  background-color: rgba(255, 255, 255, 0.5); /* Fondo transparente */
  color: inherit; /* Mantener el color del enlace como el color del texto del h1 */
  border-radius: 5px; /* Bordes redondeados, opcional */
  text-align: center;
}

.tituloSeccion a {
  text-decoration: none; /* Quitar el subrayado del enlace */
  color: inherit; /* Mantener el color del enlace como el color del texto del h1 */
}

/* ------------------  LISTAS  --------------------------*/
.listas li {
  display: flex;
  align-items: center;
}

.listas li label {
  margin-right: 15px; /* Espaciado entre cada botón de radio */
}

.listas li label.first-radio {
  margin-left: 20px; /* Espaciado desde el texto al primer boton radio */
}

.frecuencia-V {
  margin-left: 100px; /* Espaciado desde el texto al primer boton radio */
}

.listas li input[type="radio"] {
  margin-right: 5px; /* Espaciado entre el radio y su etiqueta */
}

.listas li label.check {
  display: inline-block;
  margin-left: 5px; /* Espaciado desde el texto al primer boton checkbox */
  font-size: 13px;
}

.listas li.full-width {
  margin-left: -40px; /* Ajusta este valor según sea necesario para alinear con el margen izquierdo de la tabla */
}

/* el checkbox de MA-1 en dos columnas*/
.dos-columnas {
  column-count: 2;
}

.tablaCheckbox {
  width: 100%; /* Ajusta este valor según sea necesario para coincidir con las otras tablas */
  margin: 0 auto; /* Esto centra el contenedor en el medio de la página */
}

.red-text {
  color: red;
}

.company-name,
.user-name {
  text-align: center;
  text-transform: uppercase;
}

.company-name {
  font-size: 12px; /* Ajusta el tamaño de la fuente según sea necesario */
  font-weight: bold;
}

.user-name {
  font-size: 10px; /* Ajusta el tamaño de la fuente según sea necesario */
  margin-top: 5px;
  font-weight: 600;
}
