body {
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url('../img/reuniones.png'); /*../estilos/estiloMenuGeneral.css*/
    background-image: url('background.jpg'); /*../estilos/estiloMenuGeneral.css*/
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    margin: 0;
    padding: 0;
    background-repeat: no-repeat; 
    height: 100%;
}

/* Fondo específico para la clase fiananciero */
body.financiero {
  background: url('background financiero.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Fondo específico para la clase fiananciero */
body.aperie {
  background: url('background aperie.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Fondo específico para la clase fiananciero */
body.menugral {
  background: url('background menugral.webp') no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, h4 {
  text-align: center;
  color: #333333;
}

h3, h4 {
  margin-top: 0;
}

.survey-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.containerTitulo {
    display: flex; /* Flexbox para la disposición de los elementos */
    justify-content: space-between;/* Distribuye el espacio*/
    align-items: center;/* Centra verticalmente*/
    padding: 10px;/* Espacio alrededor del contenido*/
  }
  
.contenedorTabla {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;     /* (Opcional) Centra el contenido verticalmente */
  /*height: 50vh;           /* (Opcional) Ajusta la altura del contenedor al 100% del viewport */
}

.left-icon {
  display: flex; /* Alineación por si hay más elementos en el futuro */
  align-items: center;
}

.right-icons {
  display: flex; /* Flexbox para alinear los iconos a la derecha */
  align-items: center;
  gap: 15px; /* Espacio entre los iconos */
}

h1, h2, h3, h4 {
  text-align: center;
  color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

#tablaIndiceCapitulos {
    text-decoration: none;
    padding:2px ;
    display:block;
    font-family:'Roboto', sans-serif;
    font-size: 15px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    margin: auto; /* Centra horizontalmente */
}

#tablaIndiceCapitulos  th{
    background-color: #f0f0f0; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    padding: 8px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    font-family:'Roboto', sans-serif;
  }

  #tablaIndiceCapitulos tr {
    height: 30px; /* Ajusta esta altura según tus necesidades */
}

#tablaIndice {
  text-decoration: none;
  padding:2px ;
  display:block;
  font-family:'Roboto', sans-serif;
  font-size: 15px; /* Tamaño del texto */
  color: #333; /* Color del texto */
  margin: auto; /* Centra horizontalmente */
}

#tablaIndice th{
  background-color: #f0f0f0; /* Color de fondo */
  border: 1px solid #ccc; /* Borde */
  padding: 8px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  font-family:'Roboto', sans-serif;
}

#tablaIndice tr {
  height: 20px; /* Ajusta esta altura según tus necesidades */
}

table {
  border-collapse: collapse; /* Asegura que no haya espacio entre los bordes de las celdas */
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  padding-bottom: 0px; /* Reduce el padding inferior de los encabezados */
}

tr:first-of-type + tr {
  height: 1px; /* Reduce la altura de la primera fila después del encabezado */
}


.botonSiguiente {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  font-family:'Roboto', sans-serif;
  color: white;
  background-color: #007BFF;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.botonSiguiente:hover {
  background-color: #0056b3;
}
  .centrado-flex {
    margin: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    /*align-items: center; Centra verticalmente*/
    /*height: 100vh; /* Altura completa de la ventana del navegador */
  }
  
/* ajusta los valores de totales de Menu-A*/  
  .ajustado-derecha{
    text-align: right;
  }

  /* centrado superior de titulo */

  
  .header-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .logo {
    width: 25px; /* Ajusta este valor según el tamaño de tus imágenes */
    height: auto;
  }
  
  .header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .company-name,
  .user-name {
    text-align: center;
    text-transform: uppercase;
  }
  
  .company-name {
    font-size: 12px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold;
  }
  
  .user-name {
    font-size: 10px; /* Ajusta el tamaño de la fuente según sea necesario */
    margin-top: 5px;
    font-weight: 600;
  }
  
  .dos-columnas-presentacion {
    column-count: 2;
}

  
.botonSiguiente {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  font-family:'Roboto', sans-serif;
  color: white;
  background-color: #007BFF;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.botonSiguiente:hover {
  background-color: #0056b3;
}