
*{
    margin:0;
    padding:0;
}

body{
  background:#e6e6e6;
}

/* Fondo específico para la clase fiananciero */
body.financiero {
  background: url('background financiero.jpg') no-repeat center center fixed;
  background-size: cover;
}


p {
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: Garamond;
  font-size:16px;
}

h1 a{
  text-decoration: none;
}

h2{
  font-size: 16px; /* Tamaño del texto */
  color: #a4a1a1; /* Color del texto */
  margin: 5px;
  padding:10px;
}

  /*-----------------------
      MENU SUPERIOR */

  header, .main, footer {
    width:100%;
    max-width:1000px;
    margin:10px auto;
  }


  header nav{
  background-color:#528FD5;
  overflow: hidden;
  max-width: 100%;
}

header nav ul{
  list-style: none;
  margin:0;
  padding:0;
}

header nav ul li{
  float:left;
  /*margin-bottom: 10px;*/
  margin-left: 20px;
  padding: 2px 0;
}

header nav ul li a{
  text-decoration: none;
  padding:5px 5px;
  display:block;
  max-width: 100px;
  white-space: normal;
  color:white;
  font-family:'Roboto', sans-serif;
  font-size:14px;
  font-weight:500;
}

header nav ul li a:hover{
    background-color:#75ACEC;
  }

/* ---------------  pagina Index --------------------*/

.olIndex {
  margin-left: 40px; /* Centra horizontalmente el contenedor */

}

.content-wrapper {
  display: flex; /* Establece el modelo de caja a flex */
  align-items: center; /* Alinea verticalmente al centro */
}

.comment {
  margin-left: 10px; /* Opcional: añade espacio entre la imagen y el texto */
}

/* ------------   NOmbre comañia centrado  -------*/
.containerTitulo {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos */
}

.containerTitulo img{
  margin-right: 10px;
}

.containerTitulo div img {
  margin: 0;
  padding: 0;
  margin-right: 0px; /* Espacio entre la imagen y el texto */
}

.right-icons {
  margin-left: auto;
  }

.right-icons img {
    margin-left: 100px;
  }

#nombreCia {
  flex-grow: 1; /* Permite que el texto ocupe todo el espacio restante */
  text-align: center; /* Centra horizontalmente el texto */
  font-size: 20px;
  font-weight: 700;
  font-family:'Roboto', sans-serif;
  color:#0066cc
}


.botonSiguiente {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-family:'Roboto', sans-serif;
    color: white;
    background-color: #007BFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.botonSiguiente:hover {
    background-color: #0056b3;
}

/*
.containerTitulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#nombreCia {
    flex-grow: 1;
    font-family:'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color:#0066cc;
    text-align:center;}
    /*margin: 0 20px;*/

/* ------------  iconos de idioma --------------------*/
/*.right-icons {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.right-icons a{
  margin-left: 10px;
  padding: 10px;
}
*/
/*
.right-icons {
    position: absolute;
    right: 10px; /* Ajusta este valor según sea necesario */
/*}
.right-icons a {
    margin-left: 10px;
}

*/
/* --------------- ICONOS AVANCE  RETROCESO ----------*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icons {
  display: flex;
  gap: 10px; /* Espacio entre las imágenes */
}

.nav-icons img {
  width: 40px; /* Ajusta el tamaño de las imágenes según necesites */
  height: auto;
}


/*--------------    TABLA DE INDICE ------------*/
.contenedorTabla{
  margin: 0 auto; /* Centra horizontalmente el contenedor */
  width: 75%; /* Ajusta el ancho del contenedor según sea necesario */    
}

#tablaIndice  th{
  background-color: #f0f0f0; /* Color de fondo */
  border: 1px solid #ccc; /* Borde */
  padding: 8px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  font-family:'Roboto', sans-serif;
}

#tablaIndice {
  text-decoration: none;
  padding:2px ;
  display:block;
  font-family:'Roboto', sans-serif;
  font-size: 16px; /* Tamaño del texto */
  color: #333; /* Color del texto */
  margin: auto; /* Centra horizontalmente */
}


#tablaIndice tr{
    height: 30px;
}


#tablaIndice tr td{
    border-bottom: 1px dotted #333;  
}

td a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #0066cc; /* Color del enlace */
  }

#tablaIndice tr td img{
    width: 18px;  
}

td a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón sobre el enlace */
  }

.seccionTabla{
    width: 600px;
}
  
.columnasTabla{
    width: 80px;
    text-align: center;
}

/*Con el selector nth-child para seleccionar las celdas de las columnas 3, 4 y 5 de la tabla aplicamos el estilo text-align: center; para centrar el contenido de estas celdas horizontalmente.*/ 
#tablaIndice td:nth-child(3),
#tablaIndice td:nth-child(4),
#tablaIndice td:nth-child(5) {
    text-align: center; /* Centra el contenido de las celdas */
}

/*-----------------   ARTICULOS  --------*/

.main .articles{
  width:100%;
  float:left;
  /*margin-right: 1.5%;*/
}

.main .articles article{
  padding:20px;
  background:#fff;
  margin-bottom: 20px;
  font-family:'Lato', Tahoma, Geneva, Verdana, sans-serif;
  font-size:14px;
  font-weight: normal;
}
aside{
  width: 30%;
  background:#ff8000;
  float:left;
  padding:20px;
  box-sizing: border-box;
  font-family:'Lato', Tahoma, Geneva, Verdana, sans-serif;
  font-size:12px;
  font-weight: normal;
}

/*   logo hexa   */
.logoHexa {
  margin: 20px;
  text-align: center; /* Centra el contenido horizontalmente */
}


/*   PIE DE PAGINA  */

.footer  {
  font-family:'Lato', Tahoma, Geneva, Verdana, sans-serif;
  font-size:12px;
  font-weight: normal;
  background-color: rgb(#528FD5);
  clear:both;
  padding:10px 0px;
  text-align: left;
  text-decoration: none;
  /*color:white;*/
}

.footer a {
  display: inline-block;
  margin-right: 20px;
  font-family:'Lato', Tahoma, Geneva, Verdana, sans-serif;
  font-size:12px;
  text-decoration: none;  
}

/*  GOB CORPORATIVO  */
.listas {
  margin-left: 30px;
  font-family:'Roboto', sans-serif;
  font: size 16px;
  list-style-type: square;
}

.listas li{
  margin-bottom: 10px;
}

h1 {
  font-family:'Roboto', sans-serif;
  color:blue;
  font-size:20px;
}

ul ul{
  color: rgb(70, 69, 72);
  list-style-type:none;
  margin-left: 50px;
}

.listas li {
  display: flex;
  align-items: center;
}

.listas li label{
  margin-right: 15px; /* Espaciado entre cada botón de radio */
}

.listas li label.first-radio{
  margin-left: 20px; /* Espaciado desde el texto al primer boton radio */
}

.frecuencia-V{
  margin-left: 100px; /* Espaciado desde el texto al primer boton radio */
}

.listas li input[type="radio"] {
  margin-right: 5px; /* Espaciado entre el radio y su etiqueta */
}

.listas li label.check{
  display: inline-block;
  margin-left: 5px; /* Espaciado desde el texto al primer boton checkbox */
}

.centrado-flex {
  margin: 20px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  /*align-items: center; Centra verticalmente*/
  /*height: 100vh; /* Altura completa de la ventana del navegador */
}

p{
  margin-bottom: 20px;
}
/* -----------BOTON ENVIAR ------------------------*/

#boton-enviar {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 12px 24px; /* Espaciado alrededor del texto */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor en forma de mano al pasar el mouse */
  transition: all 0.3s; /* Transición suave para los cambios */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
}

#boton-enviar:hover {
  background-color: #45a049; /* Color de fondo al pasar el mouse */
}

#boton-enviar:focus {
  outline: none; /* Elimina el contorno al enfocar */
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.6); /* Sombra de foco */
}

/* -----------BOTON BORRAR ------------------------*/

#boton-borrar {
    background-color: #fe0314; /* Color de fondo */
    color: white; /* Color de texto */
    padding: 12px 24px; /* Espaciado alrededor del texto */
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano al pasar el mouse */
    transition: all 0.3s; /* Transición suave para los cambios */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
  }
  
  #boton-borrar:hover {
    background-color: #b6041c; /* Color de fondo al pasar el mouse */
  }
  
  #boton-borrar:focus {
    outline: none; /* Elimina el contorno al enfocar */
    box-shadow: 0 0 8px rgba(247, 6, 14, 0.6); /* Sombra de foco */
  }
/*----------- LISTA ORDENADA --------------------*/

/* -------------  ALERTA MAS LINDO ----*/
.alerta-oculto {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.alerta-contenido {
  position: relative;
  width: 300px;
  margin: 10% auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  font-family:'Roboto', sans-serif;
}

.alerta-cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
}

.alerta-cuerpo {
  margin: 0;
  font-size: 16px; /* Tamaño de la fuente */
  text-align: center;
}

#continuar{
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 12px 24px; /* Espaciado alrededor del texto */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor en forma de mano al pasar el mouse */
  transition: all 0.3s; /* Transición suave para los cambios */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  margin-top: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------  VELOCIMETRO  ----*/
.gauge-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Centrar horizontalmente */
}


/* --------------   PREGUNTAS EN TABLAS
  /* Estilos para la tabla */
  table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: #f2f2f2;
    font-family:'Roboto', sans-serif;
    font: size 16px;

  }
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-family:'Roboto', sans-serif;
    font: size 16px;
  }

  /* Eliminar el borde en el último elemento para evitar doble línea */
  tr:last-child td {
    border-bottom: none;
  }

  /* Clases para controlar el ancho de las columnas */
  .pregunta-col {
    /*width: 30%; /* Ancho inicial de la columna de preguntas */
    max-width: 200px;
    /* Ancho máximo de la columna de preguntas */
  }

  .pregunta-col-2 {
    /*width: 30%; /* Ancho inicial de la columna de preguntas */
    max-width: 200px;
    /* Ancho máximo de la columna de preguntas */
    margin-left: 50px;
  }

  .respuesta-col {
    width: 10%;
    /* Ancho inicial para las columnas de respuesta */
    max-width: 30px;
    /* Ancho máximo para las columnas de respuesta */
    font-size: 13px;
  }

  /* Estilos para contenedores de radios */
  .radio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Estilos para etiquetas debajo de los radios */
  .radio-label {
    margin-top: 4px;
  }

  /* el checkbox de MA-1 en dos columnas*/
  .dos-columnas {
    column-count: 4;
  }

  .tablaCheckbox {
      width: 96%;  /* Ajusta este valor según sea necesario para coincidir con las otras tablas */
      margin: 0 auto;  /* Esto centra el contenedor en el medio de la página */
  
  }

  /*-----------------------
      MENU SUPERIOR */

  /*
  header nav{
  background-color:#528FD5;
  overflow: hidden;
  max-width: 100%;
}

header nav ul{
  list-style: none;
  margin:0;
  padding:0;
}

header nav ul li{
  float:left;
  /*margin-bottom: 10px;
  margin-left: 20px;
  padding: 2px 0;
}

header nav ul li a{
  text-decoration: none;
  padding:5px 5px;
  display:block;
  max-width: 100px;
  white-space: normal;
  color:white;
  font-family:'Roboto', sans-serif;
  font-size:14px;
  font-weight:500;
}

header nav ul li a:hover{
    background-color:#75ACEC;
  }
  */